<!DOCTYPE html>
<html>
<head>
    <title>Passive Agressive Message Board</title>
    <link rel="stylesheet" type="text/css" href="/styles.css" >
    <!-- <style>
    </style> -->
</head>
<body>

    <h1> Welcome to "Our" Passive Agressive Message Board</h1>
    <hr>
    
<p1> sup World!!</p1>




</body>
</html>
