<html>
<head>
    <title>Wolf Pack Management</title>
    <link rel="stylesheet" type="text/css" href="styles.css" >
    <!-- <style>
    </style> -->
</head>
<body>

    <h1>Got a new puppy to register?</h1>

    <div class='pen'>
    <form action='/wolves/submit' method='post'>
        <div class='s_inputs_bl'>Name: <input type="text" name="name" value=""></div>
        <div class='s_inputs_bl'>Age: <input type="number" name="age" value=""></div>
        <input type='submit' value='Submit'>
    </form>

    </div>


</body>
</html>
