<!DOCTYPE html>
<html>
<head>
    <title>Quoting Dojo</title>
    <link rel="stylesheet" type="text/css" href="styles.css" >
    <!-- <style>
    </style> -->
</head>
<body>

    <h1>Welcome to Quoting Dojo</h1>

    <div id='container'>
    <form action='/submit' method='post'>
        <div class='s_inputs_bl'>Your Name: <input type="text" name="name" value=""></div>
        <div class='s_inputs_bl'>Your Quote: <input type="text" name="quote" value=""></div>
        <input type='submit' value='Submit'>
    </form>
    <a herf="/quotes">skip stright to the quotes.. </a>
    </div>


</body>
</html>
